html,
body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.header-menu,
footer {
    display: flex;
    align-items: center;
    width: 100%;
}
.header-menu {
    justify-content: flex-end;
    height: 60px;
    background: #1c87c9;
    color: #fff;
}
.ul-menu {
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}
.active {
    background: #ccc;
    color:black;
}
h2 {
    margin: 0 0 8px;
}
aside {
    flex: 0.4;
    height: 165px;
    padding-left: 15px;
    border-left: 1px solid #666;
}
section {
    flex: 1;
    padding-right: 15px;
}
footer {
    padding: 0 10px;
    background: #ccc;
}


.box {
    -webkit-box-shadow: 10px 10px 5px -4px rgba(201,201,201,0.88);
    -moz-box-shadow: 10px 10px 5px -4px rgba(201,201,201,0.88);
    box-shadow: 10px 10px 5px -4px rgba(201,201,201,0.88);
    min-height: 40px;
    margin: 8px;
  }

  .info {
    background-color: #78b9eb;
  }

  .success {
    background-color: #5ed18c;
  }

  .error {
    background-color: #ffa8b4;
  }

  .warning {
    background-color: #ffe4a6;
  }

  .title {
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: italic;
  }

  .msg {
    margin-top: 4px;
    margin-bottom: 10px;
  }
